---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre-web
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:

    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 65539

    controllers:
      calibre-web:
        type: statefulset
        strategy: RollingUpdate

        containers:
          app:
            image:
              repository: ghcr.io/bjw-s/calibre-web
              tag: 0.6.24@sha256:3adac22931efde3722834b9a12f9e3559944403db28545968949e1360939d64c

            env:
              CACHE_DIR: /cache

            resources:
              requests:
                cpu: 15m
                memory: 249M
              limits:
                memory: 299M
    service:
      main:
        controller: *app
        ports:
          http:
            port: 8083

    ingress:
      main:
        enabled: true
        className: external
        annotations:
          authentik.home.arpa/enabled: "true"
        hosts:
          - host: &host calibre-web.${EXTERNAL_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: main
                  port: http
        tls:
          - hosts: [*host]

    persistence:
      config:
        enabled: true
        existingClaim: *app
      media:
        enabled: true
        type: nfs
        server: &nas ${NAS_HOST}
        path: /tank/media
        globalMounts:
          - path: /data/media
      cache:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /cache
