---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name proton-vpn
  namespace: downloads
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        VPN_ENDPOINT_IP: "{{ .endpoint }}"
        WIREGUARD_PUBLIC_KEY: "{{ .public_key }}"
        WIREGUARD_PRIVATE_KEY: "{{ .private_key }}"
        WIREGUARD_ADDRESSES: "{{ .addresses }}"
  dataFrom:
    - extract:
        key: proton-vpn
