---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app qbittorrent
  namespace: downloads
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: system
  values:

    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: feature.node.kubernetes.io/10gb-network
                    operator: In
                    values:
                      - 'true'

    controllers:
      main:
        type: statefulset
        annotations:
          configmap.reloader.stakater.com/reload: qbittorrent-dnsdist

        pod:
          securityContext:
          runAsUser: 568
          runAsGroup: 568
          fsGroup: 568
          fsGroupChangePolicy: "OnRootMismatch"

        containers:
          main:
            nameOverride: *app
            image:
              repository: ghcr.io/onedr0p/qbittorrent
              tag: 4.6.2@sha256:252b90e64ae43113f1fdb5dd941728a752eed13fc5fbc4ac5b63e2acccad8f7f
            env:
              TZ: "${TZ}"
              QBITTORRENT__PORT: &port 8080
            resources:
              requests:
                cpu: 49m
                memory: 1024Mi
              limits:
                memory: 8192Mi
            securityContext:
              runAsUser: 568
              runAsGroup: 568

          dnsdist:
            image:
              repository: docker.io/powerdns/dnsdist-18
              tag: 1.8.2

          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: latest@sha256:7cfc31bfa80ece13f266b452acddd1ece165f9011e86ecb02b3fd2c817383942
            env:
              - name: VPN_SERVICE_PROVIDER
                value: custom
              - name: VPN_TYPE
                value: wireguard
              - name: VPN_INTERFACE
                value: wg0
              - name: VPN_ENDPOINT_PORT
                value: "51820"
              - name: VPN_PORT_FORWARDING
                value: "on"
              - name: VPN_PORT_FORWARDING_PROVIDER
                value: "protonvpn"
              - name: FIREWALL_INPUT_PORTS
                value: "8080"
              - name: FIREWALL_OUTBOUND_SUBNETS
                # Allow access to k8s subnets
                value: "10.11.0.0/16,10.10.0.0/16"
              - name: SHADOWSOCKS
                value: "on"
              - name: DOT
                value: "off"
              - name: DNS_PLAINTEXT_ADDRESS
                value: "127.0.0.2"
            envFrom:
              - secretRef:
                  name: proton-vpn
            securityContext:
              capabilities:
                add:
                  - NET_ADMIN

          port-forward:
            image:
              repository: docker.io/snoringdragon/gluetun-qbittorrent-port-manager
              tag: "1.0"
            env:
              - name: QBITTORRENT_SERVER
                value: localhost
              - name: QBITTORRENT_PORT
                value: "8080"
              - name: PORT_FORWARDED
                value: "/tmp/gluetun/forwarded_port"

    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${LB_QBT_GUI}
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        className: "internal"
        annotations:
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_hide_header "x-webkit-csp";
            proxy_hide_header "content-security-policy";
            proxy_hide_header "X-Frame-Options";
        hosts:
          - host: &host "{{ .Release.Name }}.${EXTERNAL_DOMAIN}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - secretName: *host
            hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: *app
        advancedMounts:
          main:
            main:
              - path: /config
      media:
        enabled: true
        type: nfs
        server: "nas.ctec.run"
        advancedMounts:
          main:
            main:
              - path: /media
        path: /tank/media
      torrents:
        enabled: true
        type: nfs
        server: "nas.ctec.run"
        path: /smoltank/torrents
        advancedMounts:
          main:
            main:
              - path: /torrents
      dnsdist-config:
        type: configMap
        name: qbittorrent-dnsdist
        advancedMounts:
          main:
            dnsdist:
              - path: /etc/dnsdist/dnsdist.conf
                subPath: dnsdist.conf
                readOnly: true
      gluetun-data:
        type: emptyDir
        advancedMounts:
          main:
            gluetun:
              - path: /tmp/gluetun
            port-forward:
              - path: /tmp/gluetun
                readOnly: true
