# https://github.com/NVIDIA/k8s-device-plugin
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: nvidia-device-plugin
  namespace: system
spec:
  interval: 30m
  chart:
    spec:
      # renovate: registryUrl=https://nvidia.github.io/k8s-device-plugin
      chart: nvidia-device-plugin
      version: 0.14.4
      sourceRef:
        kind: HelmRepository
        name: nvdp
        namespace: flux-system
      interval: 30m
  # https://github.com/NVIDIA/k8s-device-plugin/blob/main/deployments/helm/nvidia-device-plugin/values.yaml
  values:
    image:
      repository: nvcr.io/nvidia/k8s-device-plugin
      tag: v0.14.4
    runtimeClassName: nvidia

    config:
      map:
        default: |-
          version: v1
          flags:
            migStrategy: none
          sharing:
            timeSlicing:
              renameByDefault: false
              failRequestsGreaterThanOne: false
              resources:
                - name: nvidia.com/gpu
                  replicas: 6


    gfd:
      enabled: true

    nfd:
      enabled: true

    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: feature.node.kubernetes.io/pci-10de.present
                  operator: In
                  values:
                    - "true"
