---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app vaultwarden
  namespace: security
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:

    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      main:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: 'true'

        initContainers:
          init-db:
            envFrom:
              - secretRef:
                  name: *app
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: '15.5'
        containers:
          main:
            image:
              repository: ghcr.io/cbc02009/vaultwarden
              tag: 1.30.0
            envFrom:
              - secretRef:
                  name: *app
            env:
              TZ: ${TZ}
              DATA_FOLDER: config
              DOMAIN: https://vault.${EXTERNAL_DOMAIN}
              SIGNUPS_ALLOWED: 'false'
              SMTP_FROM_NAME: Vault
              SMTP_FROM: vaultwarden@${EXTERNAL_DOMAIN}
              SMTP_SSL: 'true'
              WEBSOCKET_ADDRESS: 0.0.0.0
              WEBSOCKET_ENABLED: true
              WEBSOCKET_PORT: 3012
              SMTP_HOST: smtp-relay.services.svc.cluster.local
              SMTP_PORT: 2525
              SMTP_SECURITY: off
              SHOW_PASSWORD_HINT: 'false'

            resources:
              requests:
                cpu: 15m
                memory: 64M
              limits:
                memory: 64M
    service:
      main:
        ports:
          http:
            port: &port 80
          websocket:
            enabled: true
            port: &websocket-port 3012

    ingress:
      main:
        enabled: true
        className: external
        hosts:
          - host: &host vault.${EXTERNAL_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: *port
              - path: /notifications/hub/negotiate
                pathType: Prefix
                service:
                  name: main
                  port: *port
              - path: /notifications/hub
                pathType: Prefix
                service:
                  name: main
                  port: *websocket-port
        tls:
          - secretName: *host
            hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: vaultwarden-config-v1
