---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:

    controllers:
      qbittorrent:

        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |-
              [{
                "name": "multus-vpn",
                "namespace": "network",
                "ips": ["10.0.5.10/24"],
                "mac": "2e:54:30:22:3f:74"
              }]
          securityContext:
            fsGroup: 2000
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 1010 # shana:zfswrite
          terminationGracePeriodSeconds: 120

        containers:
          app:
            nameOverride: *app
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4
            env:
              TZ: "${TZ}"
              UMASK: "002"
              QBITTORRENT__PORT: &port 8080
              QBT_TORRENTING_PORT: 51478
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 150m
                memory: 2048Mi
              limits:
                memory: 8192Mi
            securityContext:
              runAsUser: 2000
              runAsGroup: 2000
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: *app
        type: LoadBalancer
        loadBalancerIP: ${LB_QBT_GUI}
        ports:
          http:
            port: *port

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.kokoro.wtf"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https


    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          qbittorrent:
            app:
              - path: /config
      empty-config:
        type: emptyDir
        advancedMounts:
          qbittorrent:
            port-forward:
              - path: /config
      media:
        type: nfs
        server: "${NAS_HOST}"
        advancedMounts:
          qbittorrent:
            app:
              - path: /media
        path: /tank/media
      torrents:
        enabled: true
        type: nfs
        server: "${NAS_HOST}"
        path: /smoltank/torrents
        advancedMounts:
          qbittorrent:
            app:
              - path: /torrents
