# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/cert-manager.io/certificate_v1.json
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: 'kokoro-wtf'
  namespace: network
spec:
  secretName: 'kokoro-wtf-tls'
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: '${EXTERNAL_DOMAIN}'
  dnsNames:
    - '${EXTERNAL_DOMAIN}'
    - '*.${EXTERNAL_DOMAIN}'
