---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app animarr
  namespace: organizarrs
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.2.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5

  values:
    image:
      repository: ghcr.io/onedr0p/sonarr-develop
      tag: 4.0.0.292@sha256:33538e1651e60fe24ac362a0c28f58c1a27e845bd8658b5feede3235c21357d7

    env:
      TZ: "${TZ}"
      SONARR__INSTANCE_NAME: Animarr
      SONARR__PORT: &port 8989
      SONARR__APPLICATION_URL: "https://{{ .Release.Name }}.${EXTERNAL_DOMAIN}"
      SONARR__LOG_LEVEL: info
      PUSHOVER_APP_URL: &host "{{ .Release.Name }}.${EXTERNAL_DOMAIN}"

    envFrom:
      - secretRef:
          name: *app

    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${LB_ANIMARR}
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          cert-manager.io/cluster-issuer: ${CLUSTER_CERT}
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_set_header Accept-Encoding "";
            sub_filter '</head>' '<link rel="stylesheet" type="text/css" href="https://theme-park.${EXTERNAL_DOMAIN}/css/base/sonarr/organizr.css"></head>';
            sub_filter_once on;
          hajimari.io/enable: "true"
          hajimari.io/icon: "television-box"
          hajimari.io/appName: animarr
        hosts:
          - host: *host
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: &tls tls.animarr
      api:
        enabled: true
        ingressClassName: "nginx"
        # annotations:
        #   external-dns.home.arpa/enabled: "true"
        hosts:
          - host: *host
            paths:
              - path: /api
                pathType: Prefix
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: animarr-config-v1

      media:
        enabled: true
        type: nfs
        server: "${SAN_HOST}"
        path: /tank/media
        mountPath: /media

      bittorrent:
        enabled: true
        type: nfs
        server: ${SAN_HOST}
        path: /smoltank/bittorrent
        mountPath: /bittorrent

      backup:
        enabled: true
        type: nfs
        server: ${SAN_HOST}
        path: /tank/backup/kubernetes/apps/animarr
        mountPath: /config/Backups

    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 100

    resources:
      requests:
        cpu: 15m
        memory: 164M
      limits:
        cpu: 100m
        memory: 778M

    # -- Affinity constraint rules to place the Pod on a specific node.
    # [[ref]](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity)
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: feature.node.kubernetes.io/10gb-network
                  operator: In
                  values:
                    - "true"
