---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: k8s-gateway
  namespace: network
spec:
  interval: 15m
  chart:
    spec:
      chart: k8s-gateway
      version: 2.0.1
      sourceRef:
        kind: HelmRepository
        name: k8s-gateway
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  # dependsOn:
  #   - name: metallb
  #     namespace: network
  values:
    fullnameOverride: k8s-gateway
    domain: ${EXTERNAL_DOMAIN}
    # ttl: 1
    service:
      type: LoadBalancer
      port: 53
      annotations:
        metallb.universe.tf/loadBalancerIPs: "${LB_K8S_GATEWAY}"
      externalTrafficPolicy: Local
      loadbalancerIP: ${LB_K8S_GATEWAY}
