---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name lidarr
  namespace: downloads
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Lidarr
        LIDARR__AUTH__APIKEY: "{{ .api_key }}"
        LIDARR__POSTGRES__USER: &dbuser "{{ .pg_user }}"
        LIDARR__POSTGRES__PASSWORD: &dbpass "{{ .pg_pass }}"
        LIDARR__POSTGRES__HOST: &dbhost "{{ .postgres_host }}"
        LIDARR__POSTGRES__PORT: "5432"
        LIDARR__POSTGRES__MAINDB: &dbname lidarr
        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbname
        INIT_POSTGRES_HOST: *dbhost
        INIT_POSTGRES_SUPER_PASS: "{{ .postgres_super_pass }}"
        INIT_POSTGRES_USER: *dbuser
        INIT_POSTGRES_PASS: *dbpass
  dataFrom:
    - extract:
        key: postgres
      rewrite:
        - regexp:
            source: "(.*)"
            target: "postgres_$1"
    - extract:
        key: lidarr
