---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name rtlamr2mqtt
  namespace: home-automation
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    creationPolicy: Owner
    template:
      templateFrom:
        - configMap:
            name: rtlamr2mqtt-config-tpl
            items:
              - key: rtlamr2mqtt.yaml
  dataFrom:
    - extract:
        key: rtlamr2mqtt
    - extract:
        key: emqx
      rewrite:
        - regexp:
            source: "(.*)"
            target: "emqx_$1"
