---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
components:
  - ../../components/common
resources:
  - ./namespace.yaml
  - ./calibre/ks.yaml
  - ./calibre-web/ks.yaml
  - ./lanraragi/ks.yaml
  # - ./maintainerr/ks.yaml
  # - ./plex/ks.yaml
  - ./tautulli/ks.yaml
