# Editors
.idea/

# Trash
.DS_Store
Thumbs.db

# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key

# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*

## terraform plan output
*tfplan*

# Other files
kubeconfig
talosconfig
