# define your template in a config map
apiVersion: v1
kind: ConfigMap
metadata:
  name: kopia-config-tpl
data:
  repository.config: |
    {
      "storage": {
        "type": "s3"
      },
      "hostname": "volsync.system.svc.cluster.local",
      "username": "volsync",
      "description": "volsync",
      "enableActions": false
    }
