---
# yaml-language-server: $schema=https://k8s-schemas.kokoro.wtf/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name authentik-secret
  namespace: authentik
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        AUTHENTIK_SECRET_KEY: "{{ .secret_key }}"
        AUTHENTIK_EMAIL__HOST: "smtp-relay.kokoro.wtf"
        AUTHENTIK_EMAIL__USERNAME: ""
        AUTHENTIK_EMAIL__PASSWORD: ""
        AUTHENTIK_EMAIL__FROM: authentik <authentik@${EXTERNAL_DOMAIN}>
        AUTHENTIK_POSTGRESQL__HOST: &dbhost "{{ .postgres_host }}"
        AUTHENTIK_POSTGRESQL__NAME: &name authentik
        AUTHENTIK_POSTGRESQL__USER: &dbuser "{{ .pg_user }}"
        AUTHENTIK_POSTGRESQL__PASSWORD: &dbpass "{{ .pg_pass }}"
        AUTHENTIK_REDIS__DB: "15"
        # Postgres Init
        INIT_POSTGRES_DBNAME: *name
        INIT_POSTGRES_HOST: *dbhost
        INIT_POSTGRES_SUPER_PASS: "{{ .postgres_super_pass }}"
        INIT_POSTGRES_USER: *dbuser
        INIT_POSTGRES_PASS: *dbpass
  dataFrom:
    - extract:
        key: authentik
    - extract:
        key: postgres
      rewrite:
        - regexp:
            source: "(.*)"
            target: "postgres_$1"
