---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: authentik
  values:

    global:
      deploymentAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      envFrom:
        - secretRef:
            name: *secret
    server:
      replicas: 1
      initContainers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:17.6.0
          envFrom:
            - secretRef:
                name: *secret
      # resources:
      #   requests:
      #     cpu: 50m
      #     memory: 500Mi
      #   limits:
      #     memory: 800Mi
      route:
        main:
          enabled: true
          hostnames:
            - "auth.kokoro.wtf"
          parentRefs:
            - name: envoy-external
              namespace: network
              sectionName: https
      # ingress:
      #   enabled: true
      #   ingressClassName: external
      #   annotations:
      #     nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      #     nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
      #     nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
      #   hosts:
      #     - &host auth.${EXTERNAL_DOMAIN}
      #   paths:
      #     - /
      #   tls: [hosts: [*host]]

    authentik:
      log_level: info
      email:
        host: smtp-relay.kokoro.wtf
        port: 25
      error_reporting:
        enabled: false
        send_pii: false
      redis:
        host: "dragonfly.databases.svc.cluster.local"
        password: ""

    worker:
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true

    postgresql:
      enabled: false

    prometheus:
      rules:
        enabled: true

    redis:
      enabled: false
