---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app animarr
  namespace: organizarrs
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5

  values:

    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 100

    controllers:
      main:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: 'true'

        initContainers:
          01-init-db:
            envFrom:
              - secretRef:
                  name: *app
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: '14.9'
        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/sonarr-develop
              tag:
                4.0.0.703@sha256:7f97e4783153bedc1c70568beb2bf925826fc92a4461d61ba58e8eda1649b49f

            envFrom:
              - secretRef:
                  name: *app

            env:
              TZ: ${TZ}
              SONARR__INSTANCE_NAME: Animarr
              SONARR__PORT: &port 8989
              SONARR__APPLICATION_URL: https://{{ .Release.Name }}.${EXTERNAL_DOMAIN}
              SONARR__LOG_LEVEL: info
              PUSHOVER_APP_URL: &host '{{ .Release.Name }}.${EXTERNAL_DOMAIN}'
              SONARR__POSTGRES_MAIN_DB: animarr_main
              SONARR__POSTGRES_LOG_DB: animarr_log

            resources:
              requests:
                cpu: 15m
                memory: 411M
              limits:
                memory: 1000M
    service:
      main:
        ports:
          http:
            port: *port
    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          authentik.home.arpa/enabled: "true"
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_set_header Accept-Encoding "";
            sub_filter '</head>' '<link rel="stylesheet" type="text/css" href="https://theme-park.${EXTERNAL_DOMAIN}/css/base/sonarr/organizr.css"></head>';
            sub_filter_once on;
        hosts:
          - host: *host
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - secretName: *host
            hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: animarr-config-v1

      media:
        enabled: true
        type: nfs
        server: nas.ctec.run
        path: /tank/media
        globalMounts:
          - path: /media
      backup:
        enabled: true
        type: nfs
        server: nas.ctec.run
        path: /tank/backup/kubernetes/apps/animarr
        globalMounts:
          - path: /config/Backups
