---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cilium
  namespace: kube-system
  annotations:
    meta.helm.sh/release-name: cilium
    meta.helm.sh/release-namespace: kube-system
  labels:
    app.kubernetes.io/managed-by: Helm
spec:
  interval: 5m
  chart:
    spec:
      chart: cilium
      version: 1.12.2
      sourceRef:
        kind: HelmRepository
        name: cilium-charts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation: # perform remediation when helm install fails
      retries: 3
  upgrade:
    remediation: # perform remediation when helm upgrade fails
      retries: 3
      remediateLastFailure: true # remediate the last failure, when no retries remain
    cleanupOnFail: true
  values:
    cluster:
      name: "${CLUSTER_NAME}"
      id: "${CLUSTER_ID}"

    rollOutCiliumPods: true

    localRedirectPolicy: true

    kubeProxyReplacement: "strict"
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256

    # ipv4NativeRoutingCIDR: ${NETWORK_K8S_POD_CIDR}

    k8sServiceHost: ${ANYA_IP}
    k8sServicePort: 6443

    loadBalancer:
      algorithm: "maglev"
      mode: "dsr"

    # change these for host routing
    tunnel: "vxlan"

    autoDirectNodeRoutes: false

    endpointRoutes:
      enabled: false
    ##

    ipam:
      mode: "kubernetes"

    operator:
      rollOutPods: true

    containerRuntime:
      integration: crio
      socketPath: "unix:///run/crio/crio.sock"

    hubble:
      enabled: true
      serviceMonitor:
        enabled: true
      metrics:
        enabled:
          - dns:query;ignoreAAAA
          - drop
          - tcp
          - flow
          - port-distribution
          - icmp
          - http
      relay:
        enabled: true
        rollOutPods: true
      ui:
        enabled: true
        rollOutPods: true
        ingress:
          enabled: true
          ingressClassName: "nginx"
          annotations:
            hajimari.io/enable: "true"
            hajimari.io/appName: hubble
            hajimari.io/icon: lan
          hosts:
            - &host "hubble.${EXTERNAL_DOMAIN}"
          tls:
            - hosts:
                - *host

    # -- Configure BGP
    bgp:
      # -- Enable BGP support inside Cilium; embeds a new ConfigMap for BGP inside
      # cilium-agent and cilium-operator
      enabled: false
      announce:
        # -- Enable allocation and announcement of service LoadBalancer IPs
        loadbalancerIP: true
        # -- Enable announcement of node pod CIDR
        podCIDR: false

    externalIPs:
      enabled: false
