---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app add-ons-dashboard
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: 'true'
spec:
  targetNamespace: flux-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: './kubernetes/main/apps/flux-system/add-ons/dashboard/'
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 30m
  timeout: 5m
# ---
# # yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/kustomization_v1.json
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: add-ons-notifications
#   namespace: flux-system
#   labels:
#     substitution.flux.home.arpa/enabled: 'true'
# spec:
  # targetNamespace: flux-system
  # commonMetadata:
  #   labels:
  #     app.kubernetes.io/name: *app
#   path: './kubernetes/main/apps/flux-system/add-ons/notifications/'
#   prune: true
#   sourceRef:
#     kind: GitRepository
#     name: k8s-home-ops
#   interval: 30m
#   #   timeout: 5m
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app add-ons-webhook
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: 'true'
spec:
  targetNamespace: flux-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: './kubernetes/main/apps/flux-system/add-ons/webhook/'
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 30m
  timeout: 5m
