---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name rtlamr2mqtt
  namespace: home
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    creationPolicy: Owner
    template:
      data:
        rtlamr2mqtt.yaml: |
          general:
            sleep_for: 0
            verbosity: debug
            tickle_rtl_tcp: false
          mqtt:
            host: mosquitto.home.svc.cluster.local
            port: 1883
            tls_enabled: false
            user: "{{ .mosquitto_mqtt_user }}"
            password: "{{ .mosquitto_mqtt_pass }}"
            ha_autodiscovery: true
            ha_autodiscovery_topic: homeassistant
            base_topic: rtlamr
          custom_parameters:
            rtltcp: -s 2048000
            rtlamr: -unique=true -symbollength=32
          meters:
            - id: "{{ .main_meter_id }}"
              protocol: scm+
              name: main_meter
              format: "######"
              unit_of_measurement: kWh
              icon: mdi:gauge
              device_class: energy
              state_class: "total"
            - id: "{{ .solar_meter_id }}"
              protocol: scm+
              name: solar_meter
              format: "######"
              unit_of_measurement: kWh
              icon: mdi:gauge
              device_class: energy
              state_class: "total"
  dataFrom:
    - extract:
        key: rtlamr2mqtt
    - extract:
        key: mosquitto
      rewrite:
        - regexp:
            source: "(.*)"
            target: "mosquitto_$1"
