---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: external-dns-external
  namespace: network
spec:
  interval: 15m
  chart:
    spec:
      chart: external-dns
      version: 1.12.2
      sourceRef:
        kind: HelmRepository
        name: external-dns-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:

    fullnameOverride: external-dns-external

    interval: 2m
    # logLevel: debug
    provider: cloudflare
    env:
      - name: CF_API_EMAIL
        valueFrom:
          secretKeyRef:
            name: external-dns-external-secret
            key: email
      - name: CF_API_KEY
        valueFrom:
          secretKeyRef:
            name: external-dns-external-secret
            key: api-key
    extraArgs:
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --cloudflare-proxied
      - --annotation-filter=external-dns.alpha.kubernetes.io/public
    policy: sync
    sources:
      - ingress
    txtPrefix: "k8s."
    txtOwnerId: default
    domainFilters:
      - "${EXTERNAL_DOMAIN}"
    serviceMonitor:
      enabled: true
    resources:
      requests:
        memory: 100Mi
        cpu: 25m
      limits:
        memory: 250Mi
    podAnnotations:
      secret.reloader.stakater.com/reload: external-dns-secret
