---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app swarmui
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      swarmui:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/eedev/swarmui-docker
              tag: latest@sha256:7834bbed04aebc16ad811ba069b7465cf564d645e4ec3e27013010ee2a9b055a
            env:
              TZ: ${TZ}
            resources:
              requests:
                cpu: 500m
                memory: 2Gi
                nvidia.com/gpu: 2
              limits:
                memory: 16Gi
                nvidia.com/gpu: 2
        pod:
          runtimeClassName: nvidia
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups: [1010]
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 7801

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.kokoro.wtf"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https


    persistence:
      media:
        type: nfs
        server: &nas ${NAS_HOST}
        path: /tank/k8s/apps/swarmui/models
        globalMounts:
          - path: /app/Models
      output:
        enabled: true
        existingClaim: swarmui-output
        globalMounts:
          - path: /app/Output
      data:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /app/Data
