---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: main

# renovate: depName=ghcr.io/siderolabs/installer datasource=docker extractVersion=^(?<version>.*)$
talosVersion: v1.9.5
# renovate: depName=kubernetes/kubernetes datasource=github-releases extractVersion=^v(?<version>.*)$
kubernetesVersion: v1.31.1

# endpoint: https://10.5.0.2:6443
endpoint: https://10.0.2.9:6443

allowSchedulingOnMasters: true

additionalApiServerCertSans: &san
  - "127.0.0.1"
  # - "10.5.0.2"
  - "10.0.2.9"
  - main.ctec.run

additionalMachineCertSans: *san

clusterPodNets:
  - 10.11.0.0/16
clusterSvcNets:
  - 10.10.0.0/16
cniConfig:
  name: none

nodes:

  - hostname: uiharu.ctec.run
    nodeLabels: &nodeLabels
      openebs.io/engine: mayastor
    ipAddress: 10.0.2.10
    installDiskSelector:
      model: Samsung SSD 870
    controlPlane: true
    disableSearchDomain: true
    kernelModules:
      - name: br_netfilter
        parameters:
          - nf_conntrack_max=131072
    nameservers:
      - 10.4.0.4
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 58:47:ca:73:bd:aa
        addresses:
          - 10.0.2.10/24
        mtu: 1500
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.2.1
        vip: &vip
          ip: 10.0.2.9
    extensionServices: &nut-service
      - name: nut-client
        configFiles:
          - content: |-
              MONITOR nut.cutil.dev 1 observer whatever secondary
              SHUTDOWNCMD "/sbin/poweroff"
            mountPath: /usr/local/etc/nut/upsmon.conf

  - hostname: miri.ctec.run
    nodeLabels: *nodeLabels
    ipAddress: 10.0.2.11
    installDiskSelector:
      model: Samsung SSD 870
    controlPlane: true
    disableSearchDomain: true
    kernelModules:
      - name: br_netfilter
        parameters:
          - nf_conntrack_max=131072
    nameservers:
      - 10.4.0.4
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 58:47:ca:71:c1:b2
        addresses:
          - 10.0.2.11/24
        mtu: 1500
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.2.1
        vip: *vip
    extensionServices: *nut-service

  - hostname: sakura.ctec.run
    nodeLabels: *nodeLabels
    ipAddress: 10.0.2.12
    installDiskSelector:
      model: Samsung SSD 850
    controlPlane: true
    disableSearchDomain: true
    kernelModules:
      - name: br_netfilter
        parameters:
          - nf_conntrack_max=131072
    nameservers:
      - 10.4.0.4
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 58:47:ca:71:c5:02
        addresses:
          - 10.0.2.12/24
        mtu: 1500
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.2.1
        vip: *vip
    extensionServices: *nut-service

controlPlane:
  schematic:
    customization:
      extraKernelArgs:
        - apparmor=0 # Less security, more speed
        - init_on_alloc=0 # Less security, more speed
        - init_on_free=0 # Less security, more speed
        - intel_iommu=on # PCI Passthrough
        - iommu=pt # PCI Passthrough
        - mitigations=off # Less security, more speed
        - security=none # Less security, more speed
        - net.ifnames=1 # Enable predictable NIC naming
      systemExtensions:
        officialExtensions:
          - siderolabs/i915
          - siderolabs/intel-ucode
          - siderolabs/nut-client
  patches:
    # Disable default API server admission plugins.
    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

    # ETCD configuration
    - |-
      cluster:
        etcd:
          advertisedSubnets:
            - 10.0.2.0/24

    # Enable K8s Talos API Access
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:admin
            allowedKubernetesNamespaces:
              - system-controllers
              - system

patches:

  # Enable hostDNS
  - |-
    machine:
      features:
        hostDNS:
          enabled: true
          resolveMemberNames: true
          forwardKubeDNSToHost: false

  # Disable search domain everywhere
  - |-
    machine:
      network:
        disableSearchDomain: true

  # Configure NTP
  - |-
    machine:
      time:
        disabled: false
        servers:
          - time.cloudflare.com

  # Enable KubePrism
  - |-
    machine:
      features:
        kubePrism:
          enabled: true
          port: 7445

  # Configure cluster loopback
  - |-
    machine:
      network:
        extraHostEntries:
          - ip: 10.0.2.9
            aliases:
              - main.ctec.run

  # Cluster configuration
  - |-
    cluster:
      allowSchedulingOnMasters: true
      proxy:
        disabled: true
      coreDNS:
        disabled: true

  # Configure containerd
  - |-
    machine:
      files:
        - op: create
          path: /etc/cri/conf.d/20-customization.part
          content: |
            [plugins]
              [plugins."io.containerd.grpc.v1.cri"]
                enable_unprivileged_ports = true
                enable_unprivileged_icmp = true
              [plugins."io.containerd.grpc.v1.cri".containerd]
                discard_unpacked_layers = false
              [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
                discard_unpacked_layers = false

  # Configure nfs mount options
  - |-
    machine:
      files:
        - op: overwrite
          path: /etc/nfsmount.conf
          permissions: 0o644
          content: |
            [ NFSMount_Global_Options ]
            nfsvers=4.2
            hard=True
            noatime=True
            nodiratime=True
            rsize=131072
            wsize=131072
            nconnect=8

  # Kubelet configuration
  - |-
    machine:
      kubelet:
        extraArgs:
          rotate-server-certificates: "true"
        extraConfig:
          maxPods: 150
        extraMounts:
          - destination: /var/openebs/local
            type: bind
            source: /var/openebs/local
            options:
              - bind
              - rshared
              - rw
        nodeIP:
          validSubnets:
            - 10.0.2.0/24

  # Custom sysctls
  - |-
    machine:
      sysctls:
        net.core.rmem_max: "7500000"
        net.core.wmem_max: "7500000"
        fs.inotify.max_queued_events: 65536
        fs.inotify.max_user_watches: 524288
        fs.inotify.max_user_instances: 8192
        net.core.bpf_jit_harden: 1
        vm.nr_hugepages: 2048

  # Various udev rules
  - |-
    machine:
      udev:
        rules:
          # Intel GPU
          - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"
          # Google Coral USB Accelerator
          - SUBSYSTEMS=="usb", ATTRS{idVendor}=="1a6e", ATTRS{idProduct}=="089a", GROUP="20", MODE="0660"
          - SUBSYSTEMS=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="9302", GROUP="20", MODE="0660"
