---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unifi
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      unifi:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/goofball222/unifi
              tag: 9.0-beta
              pullPolicy: IfNotPresent
            env:
              TZ: ${TZ}
              UNIFI_STDOUT: "true"
              JVM_MAX_HEAP_SIZE: 1024M
              DB_MONGO_LOCAL: true
              RUN_CHOWN: false
            resources:
              requests:
                memory: 2Gi
                cpu: 50m
        statefulset:
          volumeClaimTemplates:
            - name: config
              accessMode: ReadWriteOnce
              size: 10Gi
              storageClass: openebs-hostpath
              globalMounts:
                - path: /usr/lib/unifi/data

    service:
      main:
        controller: unifi
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${LB_UNIFI}
        externalTrafficPolicy: Local
        ports:
          http:
            port: 8443
            protocol: HTTPS
          controller:
            enabled: true
            port: 8080
            protocol: TCP
          portal-http:
            enabled: false
            port: 8880
            protocol: HTTP
          portal-https:
            enabled: false
            port: 8843
            protocol: HTTPS
          speedtest:
            enabled: true
            port: 6789
            protocol: TCP
          stun:
            enabled: true
            port: 3478
            protocol: UDP
          discovery:
            enabled: true
            port: 10001
            protocol: UDP
    ingress:
      main:
        enabled: true
        className: "internal"
        annotations:
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
        hosts:
          - host: &host "{{ .Release.Name }}.${EXTERNAL_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: main
                  port: http
        tls:
          - hosts: [*host]

    persistence:
      backup:
        type: nfs
        server: 10.0.2.4
        path: /tank/backup/kubernetes/apps/unifi
        globalMounts:
          - path: /usr/lib/unifi/data/backup
