---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app pgadmin
  namespace: databases
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      repository: dpage/pgadmin4
      tag: "7.7"
    controller:
      type: statefulset
    envFrom:
      - secretRef:
          name: *app
    service:
      main:
        ports:
          http:
            port: 80
    ingress:
      main:
        enabled: true
        ingressClassName: "internal-nginx"
        annotations:
          ingress.home.arpa/type: "internal"
          hajimari.io/icon: simple-icons:adminer
        hosts:
          - host: &host "{{ .Release.Name }}.${EXTERNAL_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
    podSecurityContext:
      runAsUser: 5050
      runAsGroup: 5050
      fsGroup: 5050
      fsGroupChangePolicy: "OnRootMismatch"
    persistence:
      config:
        enabled: true
        existingClaim: pgadmin-config-v1
        mountPath: "/var/lib/pgadmin"
      server-json:
        enabled: true
        type: configMap
        name: servers-json
        subPath: servers.json
        mountPath: /pgadmin4/servers.json
    podAnnotations:
      reloader.stakater.com/auto: "true"
    resources:
      requests:
        cpu: 15m
        memory: 164M
      limits:
        memory: 236M
