---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name externaldns-internal
  namespace: network
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        EXTERNAL_DNS_RFC2136_TSIG_SECRET_ALG: "{{ .algorithm }}"
        EXTERNAL_DNS_RFC2136_TSIG_SECRET: "{{ .secret }}"
  dataFrom:
    - extract:
        key: externaldns
