---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: &app karakeep
  labels:
    app.kubernetes.io/name: *app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: ceph-block
