---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: theme-park
  namespace: services
spec:
  interval: 5m
  chart:
    spec:
      chart: theme-park
      version: 1.2.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation: # perform remediation when helm install fails
      retries: 3
  upgrade:
    remediation: # perform remediation when helm upgrade fails
      retries: 3
      remediateLastFailure: true # remediate the last failure, when no retries remain
    cleanupOnFail: true
  values:
    image:
      repository: ghcr.io/k8s-at-home/theme-park
      tag: v1.13.1

    nameOverride: "theme-park"

    env:
      TZ: "${TZ}"

    service:
      main:
        ports:
          http:
            enabled: true
            port: 8080

    ingress:
      main:
        enabled: true
        ingressClassName: "external"
        annotations:
          external-dns.alpha.kubernetes.io/public: "true"
          external-dns.alpha.kubernetes.io/target: "external.${EXTERNAL_DOMAIN}"
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"

        hosts:
          - host: &host "theme-park.${EXTERNAL_DOMAIN}"
            paths:
              - path: /

        tls:
          - secretName: tls.theme-park
            hosts:
              - *host

    resources:
      requests:
        cpu: 15m
        memory: 64M
      limits:
        cpu: 17m
        memory: 64M
