---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app radarr
  namespace: organizarrs
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph

  values:

    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 100

    # podAnnotations:
    #   setGateway: "true"

    controllers:
      main:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: 'true'

        initContainers:
          01-init-db:
            envFrom:
              - secretRef:
                  name: *app

            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: '15.5'
        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/radarr-develop
              tag:
                5.2.2.8288@sha256:a96055f121ec26d3165a954948bcd888dedd7da55fa7a67838c64dd4bda9e15d

            envFrom:
              - secretRef:
                  name: *app

            env:
              TZ: ${TZ}
              RADARR__INSTANCE_NAME: Radarr
              PUSHOVER_APP_URL: &host '{{ .Release.Name }}.${EXTERNAL_DOMAIN}'
              RADARR__PORT: &port 7878
              RADARR__APPLICATION_URL: https://{{ .Release.Name }}.${EXTERNAL_DOMAIN}
              RADARR__LOG_LEVEL: info
              RADARR__POSTGRES_MAIN_DB: radarr_main
              RADARR__POSTGRES_LOG_DB: radarr_log

            resources:
              requests:
                cpu: 15m
                memory: 380M
              limits:
                cpu: 100m
                memory: 670M
    service:
      main:
        ports:
          http:
            port: *port
    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          authentik.home.arpa/enabled: "true"
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_set_header Accept-Encoding "";
            sub_filter '</head>' '<link rel="stylesheet" type="text/css" href="https://theme-park.${EXTERNAL_DOMAIN}/css/base/radarr/organizr.css"></head>';
            sub_filter_once on;
        hosts:
          - host: *host
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - secretName: *host
            hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: radarr-config-v1

      media:
        enabled: true
        type: nfs
        server: nas.ctec.run
        path: /tank/media
        globalMounts:
          - path: /media
      backup:
        enabled: true
        type: nfs
        server: nas.ctec.run
        path: /tank/backup/kubernetes/apps/radarr
        globalMounts:
          - path: /config/Backups
