---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qui
  namespace: downloads
  labels:
    app.kubernetes.io/name: &name qui
    app.kubernetes.io/instance: *name
    snapshot.home.arpa/enabled: "true"
spec:
  accessModes:
    - ReadWriteOnce

  resources:
    requests:
      storage: 1Gi

  storageClassName: ceph-block
