---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rustdesk
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  valuesFrom:
    # Encryption key
    - kind: Secret
      name: *app
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          *app :
            image:
              repository: ghcr.io/rustdesk/rustdesk-server
              tag: 1.1.15@sha256:10818ec05b179039c6660f4d8e74b303f0db2858bbad2b18e24992ea22d54cd6
            command:
              - hbbs
              - -r ${LB_RUSTDESK}:21117
            env:
              ENCRYPTED_ONLY: "1"
              DB_URL: /db/db_v2.sqlite3
            probes:
              startup:
                enabled: false
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256Mi
          &relay relay:
            image:
              repository: ghcr.io/rustdesk/rustdesk-server
              tag: 1.1.15@sha256:10818ec05b179039c6660f4d8e74b303f0db2858bbad2b18e24992ea22d54cd6
            command:
              - hbbr
            probes:
              startup:
                enabled: false
              liveness:
                enabled: false
              readiness:
                enabled: false
    service:
      *app :
        controller: *app
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${LB_RUSTDESK}
          external-dns.alpha.kubernetes.io/hostname: rd.${EXTERNAL_DOMAIN}
        ports:
          rustdesk-1:
            port: 21114
          rustdesk-2:
            port: 21115
          rustdesk-3:
            port: &port 21116
          rustdesk-4:
            port: *port
            protocol: UDP
          rustdesk-5-relay:
            port: 21117
          rustdesk-6:
            port: 21118
          rustdesk-7-relay:
            port: 21119

    persistence:
      db:
        existingClaim: *app
        globalMounts:
          - path: /db
            subPath: hbbs
          - path: /root
            subPath: root
