---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: downloads-gateway
  namespace: vpn
spec:
  interval: 15m
  chart:
    spec:
      chart: pod-gateway
      version: 6.0.0
      sourceRef:
        kind: HelmRepository
        name: angelnu-charts
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: ghcr.io/angelnu/pod-gateway
      tag: v1.8.1
    DNS: 172.16.1.1
    addons:
      netshoot:
        enabled: true
      vpn:
        enabled: true
        type: gluetun
        gluetun:
          image:
            # -- Specify the Gluetun image
            repository: ghcr.io/cbc02009/gluetun
            # -- Specify the Gluetun image tag
            tag: v3.32.0
            # -- Specify the Gluetun image pull policy
            pullPolicy: IfNotPresent
        env:
          - name: VPN_SERVICE_PROVIDER
            value: mullvad
          - name: VPN_TYPE
            value: wireguard
          - name: VPN_INTERFACE
            value: wg0
          - name: FIREWALL
            value: "off"
          - name: DOT
            value: "off"
          - name: LOG_LEVEL
            value: debug
          - name: IPTABLES_NFT
            value: true
        envFrom:
          - secretRef:
              name: mullvad
        securityContext:
          privileged: true
          capabilities:
            add:
              - NET_ADMIN
              - SYS_MODULE
              - NET_RAW
        networkPolicy:
          enabled: true
          egress:
            - to:
                - ipBlock:
                    cidr: 0.0.0.0/0
              ports:
                - port: 51820
                  protocol: UDP
            - to:
                - namespaceSelector: {}
    # publicPorts:
    #   - IP: 10
    #     hostname: qbittorrent-0
    #     ports:
    #       - port: 58698
    #         type: udp
    #       - port: 58698
    #         type: tcp
    routed_namespaces: ["downloads"]
    settings:
      VPN_INTERFACE: "wg0"
      VXLAN_ID: "43"
      VXLAN_IP_NETWORK: "172.16.1"
      VPN_BLOCK_OTHER_TRAFFIC: "true"
      VPN_TRAFFIC_PORT: "51820"
      DNS_LOCAL_CIDRS: "local"
      NOT_ROUTED_TO_GATEWAY_CIDRS: "10.0.0.0/8 172.16.0.0/12 192.168.0.0/16"
      VPN_LOCAL_CIDRS: "10.0.0.0/8 172.16.0.0/12 192.168.0.0/16"
      IPTABLES_NFT: "yes"
    webhook:
      gatewayDefault: false
      image:
        repository: ghcr.io/angelnu/gateway-admision-controller
        tag: v3.7.0
