---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: csr-approver
  namespace: kube-system
spec:
  interval: 15m
  chart:
    spec:
      chart: kubelet-csr-approver
      version: 0.2.8
      sourceRef:
        kind: HelmRepository
        name: postfinance-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5

  values:

    providerRegex: |
      ^(uiharu|anya|rem|ram|sakura)$

    namespace: kube-system

    bypassDnsResolution: true

    providerIpPrefixes:
      - 10.0.0.0/23

    tolerations: {}
