---
# yaml-language-server: $schema=https://crd.movishell.pl/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app romm
  namespace: &namespace selfhosted
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/volsync/garage
  dependsOn:
    - name: postgres-cluster
      namespace: databases
    - name: dragonfly-cluster
      namespace: databases
    - name: external-secrets
      namespace: external-secrets
    - name: volsync
      namespace: storage
  interval: 30m
  path: ./kubernetes/apps/selfhosted/romm/app
  postBuild:
    substitute:
      APP: *app
      APP_UID: "568"
      APP_GID: "5000"
      HOSTNAME: romm.${PRIVATE_DOMAIN}
      AUTH_HOSTNAME: auth.${PUBLIC_DOMAIN}
      PVC_CAPACITY: 10Gi
      PVC_CLAIM: romm-config
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-ops
    namespace: flux-system
  targetNamespace: *namespace
  wait: true
