---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app atuin
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      atuin:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          01-init-db:
            envFrom:
              - secretRef:
                  name: *app
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: '16.6'

        pod:
          enableServiceLinks: false

        containers:
          app:
            image:
              repository: ghcr.io/atuinsh/atuin
              tag: 18.4.0
            args:
              - server
              - start
            env:
              ATUIN_HOST: 0.0.0.0
              ATUIN_PORT: &port 8888
              ATUIN_OPEN_REGISTRATION: true
              RUST_LOG: info,atuin_server=debug
              ATUIN_TLS__ENABLE: false
              ATUIN_TLS__CERT_PATH: ""
              ATUIN_TLS__PKEY_PATH: ""
            envFrom:
              - secretRef:
                  name: *app
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi

    service:
      main:
        controller: *app
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        className: "internal"
        hosts:
          - host: &host atuin.${EXTERNAL_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: main
                  port: http
        tls:
          - hosts: [*host]


    persistence:
      config:
        type: emptyDir
