---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name postgres
  namespace: databases
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        SUPER_USER: "{{ .super_user }}"
        SUPER_PASS: "{{ .super_pass }}"
  dataFrom:
    - extract:
        key: postgres
