---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app postgres-backup
  namespace: databases
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      postgres-backup:
        type: cronjob
        cronjob:
          schedule: '@daily'
          ttlSecondsAfterFinished: 43200
        containers:
          app:
            image:
              repository: docker.io/prodrigestivill/postgres-backup-local
              tag: 17@sha256:483fa15ecd998302bd312fc380cb1b3683a940881d9099d6dfe65bcc1e2714e8
              pullPolicy: IfNotPresent
            env:
              - name: POSTGRES_HOST
                value: postgres.kokoro.wtf
              - name: POSTGRES_USER
                valueFrom:
                  secretKeyRef:
                    name: postgres
                    key: SUPER_USER
              - name: POSTGRES_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: postgres
                    key: SUPER_PASS
              - name: POSTGRES_CLUSTER
                value: 'true'
              - name: POSTGRES_DB
                value: animarr, authentik, home_assistant, immich, lidarr,
                 postgres, prowlarr, readarr, radarr, sonarr, terraform
              - name: BACKUP_KEEP_DAYS
                value: '7'
              - name: BACKUP_KEEP_WEEKS
                value: '4'
              - name: BACKUP_KEEP_MONTHS
                value: '6'
              - name: BACKUP_KEEP_MINS
                value: '7200'
              - name: POSTGRES_EXTRA_OPTS
                value: --clean
            command: [/backup.sh]
    service:
      main:
        controller: *app
        enabled: false
    persistence:
      backup:
        enabled: true
        type: nfs
        server: nas.ctec.run
        path: /tank/backup/kubernetes/apps/postgres
        globalMounts:
          - path: /backups
    restartPolicy: OnFailure
    enableServiceLinks: false
