---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
  namespace: kube-system
  annotations:
    meta.helm.sh/release-name: cilium
    meta.helm.sh/release-namespace: kube-system
  labels:
    app.kubernetes.io/managed-by: Helm
spec:
  interval: 5m
  chart:
    spec:
      chart: cilium
      version: 1.17.1
      sourceRef:
        kind: HelmRepository
        name: cilium
        namespace: flux-system
      interval: 5m

  valuesFrom:
    - kind: ConfigMap
      name: cilium-values

  values:

    hubble:
      metrics:
        serviceMonitor:
          enabled: false
      dashboards:
        enabled: true
        label: grafana_dashboard
        namespace: monitoring
        labelValue: "1"
        annotations: {}
      relay:
        enabled: true
      ui:
        enabled: true
        rollOutPods: true
        ingress:
          enabled: true
          className: "internal"
          annotations:
          hosts:
            - &host "hubble.${EXTERNAL_DOMAIN}"
          tls:
            - secretName: *host
              hosts:
                - *host

    prometheus:
      serviceMonitor:
        enabled: true

    operator:
      prometheus:
        serviceMonitor:
          enabled: true
