---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre
  namespace: media
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: volsync
      namespace: system
  values:

    controllers:
      calibre:

        containers:
          app:
            image:
              repository: ghcr.io/linuxserver/calibre
              tag: 9.3.1

            env:
              TZ: ${TZ}
              PUID: '2000'
              PGID: '2000'
              FM_HOME: /media/calibre
              UMASK_SET: 002

            resources:
              requests:
                cpu: 15m
                memory: 249M
              limits:
                memory: 4000M

            probes:
              startup:
                spec:
                  initialDelaySeconds: 60
                  failureThreshold: 160
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8080

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.kokoro.wtf"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https


    persistence:
      config:
        enabled: true
        existingClaim: *app
      media:
        enabled: true
        type: nfs
        server: 10.0.2.4
        path: /mnt/tank/media
        globalMounts:
          - path: /media
