---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app paperless
  namespace: &namespace selfhosted
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 30m
  timeout: 5m
  path: "./kubernetes/apps/selfhosted/paperless/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  dependsOn:
    - name: volsync
      namespace: system
    - name: onepassword-connect
      namespace: external-secrets
  components:
    - ../../../../components/gatus/guarded
    - ../../../../components/volsync
    - ../../../../components/r2
    - ../../../../components/keda/nas-nfs-scaler
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 15Gi
