---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app lanraragi
  namespace: &namespace media
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 30m
  timeout: 5m
  path: './kubernetes/apps/media/lanraragi/app/'
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  dependsOn:
    - name: volsync
      namespace: system
  components:
    - ../../../../components/gatus/guarded
    - ../../../../components/volsync/restic
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 5Gi
      APP_UID: "9001"
      APP_GID: "9001"
