---
apiVersion: v1
kind: Service
metadata:
  name: &app unifi
  namespace: network
  labels:
    app.kubernetes.io/name: *app
    app.kubernetes.io/instance: *app
spec:
  type: ExternalName
  externalName: unifi.ctec.run.
  ports:
    - name: http
      port: &port 8443
      protocol: TCP
      targetPort: *port
