---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: add-ons-dashboard
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: 'true'
spec:
  path: './kubernetes/cluster/apps/flux-system/add-ons/dashboard/'
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  interval: 30m
  retryInterval: 1m
  timeout: 3m
# ---
# # yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/kustomization_v1.json
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: add-ons-notifications
#   namespace: flux-system
#   labels:
#     substitution.flux.home.arpa/enabled: 'true'
# spec:
#   path: './kubernetes/cluster/apps/flux-system/add-ons/notifications/'
#   prune: true
#   sourceRef:
#     kind: GitRepository
#     name: k8s-home-ops
#   interval: 30m
#   retryInterval: 1m
#   timeout: 3m
---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: add-ons-webhook
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: 'true'
spec:
  path: './kubernetes/cluster/apps/flux-system/add-ons/webhook/'
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  interval: 30m
  retryInterval: 1m
  timeout: 3m
  dependsOn:
    - name: nginx-internal
