---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: metallb
  namespace: network
spec:
  interval: 5m
  chart:
    spec:
      chart: metallb
      version: 0.13.7
      sourceRef:
        kind: HelmRepository
        name: metallb-charts
        namespace: flux-system
      interval: 5m
  values:
    speaker:
      tolerateMaster: false
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true

    crds:
      enabled: true

    prometheusRule:
      enabled: true
    controller:
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
