---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 5m
---
apiVersion: v1alpha1
kind: OOMConfig
triggerExpression: "false"
cgroupRankingExpression: "0.0"
sampleInterval: 5s
