---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app komga
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5

  values:

    controller:
      type: statefulset

    image:
      repository: ghcr.io/cbc02009/komga
      tag: 1.2.0@sha256:1695e40f3311fc0932c97ef5e8aed725131a0eda83cbfe3f72758a2e2ba43eb1

    env:
      KOMGA_CONFIGDIR: "/config"
      SERVER_PORT: &port 8443

    service:
      main:
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          ingress.home.arpa/type: "internal"
          hajimari.io/enable: "true"
          hajimari.io/icon: "television-box"
          hajimari.io/appName: komga
        hosts:
          - host: &host "{{ .Release.Name }}.${EXTERNAL_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: komga-config-v1

      media:
        enabled: true
        type: nfs
        server: "nas.ctec.run"
        path: /tank/media/manga
        mountPath: /media
