---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  labels:
    app.kubernetes.io/instance: vector-aggregator
    app.kubernetes.io/name: vector-aggregator
  name: vector-aggregator
  namespace: monitoring
spec:
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  values:
    defaultPodOptions:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: vector-aggregator
    controllers:
      main:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: 'true'

        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/vector
              tag: 0.34.0-debian

            args: [--config, /etc/vector/vector.yaml]
    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${LB_VECTOR}
        annotations:
          external-dns.alpha.kubernetes.io/hostname: vector.kokoro.wtf
        ports:
          http:
            port: 8686
          kubernetes-logs:
            enabled: true
            port: 6000
          vyos-syslog:
            enabled: true
            port: 6001
          journald-logs:
            enabled: true
            port: 6002

    persistence:
      config:
        enabled: true
        type: configMap
        name: vector-aggregator-configmap
        readOnly: true
        globalMounts:
          - path: /etc/vector/vector.yaml
            subPath: vector.yaml
      data:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /vector-data-dir
