---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/external-secrets.io/clustersecretstore_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: &name home-assistant
  namespace: home-automation
spec:
  provider:
    doppler:
      project: *name
      config: prd
      auth:
        secretRef:
          dopplerToken:
            name: doppler-token-auth-api
            key: dopplerToken
            namespace: flux-system
---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name home-assistant
  namespace: home-automation
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: *name
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Home Assistant
        HASS_POSTGRES_URL: |-
          "postgresql://{{ .PG_USER }}:{{ .PG_PASS }}@postgres-rw.databases.svc.cluster.local/home_assistant"
        RECORDER_DB_URL: "postgresql://{{ .PG_USER }}:{{ .PG_PASS }}@postgres-rw.databases.svc.cluster.local/home_assistant"
        SECRET_INTERNAL_URL: https://hass.${EXTERNAL_DOMAIN}
        SECRET_INTERNAL_URL_DIRECT: http://10.6.0.5:8123
        SECRET_EXTERNAL_URL: https://hass.${EXTERNAL_DOMAIN}
        SECRET_ZONE_HOME_LATITUDE: "{{ .LATITUDE }}"
        SECRET_ZONE_HOME_LONGITUDE: "{{ .LONGITUDE }}"

        # Postgres Init
        INIT_POSTGRES_SUPER_PASS: "{{ .PG_SUPER_PASS }}"
        INIT_POSTGRES_PASS: "{{ .PG_PASS }}"
        INIT_POSTGRES_USER: "{{ .PG_USER }}"
        INIT_POSTGRES_HOST: "{{ .PG_HOST }}"
        INIT_POSTGRES_DBNAME: "home_assistant"
  dataFrom:
    - find:
        name:
          regexp: .*
