---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app home-assistant
  namespace: home-automation
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: system
  values:
    controllers:
      main:
        type: statefulset
        initContainers:
          wait-for-pg:
            image:
              repository: quay.io/prometheus/busybox
              tag: 'latest'
            imagePullPolicy: IfNotPresent
            command:
              [
                "sh",
                "-c",
                'until nc -vz ${POSTGRES_HOST} 5432; do echo "Waiting for postgres..."; sleep 3; done;',
              ]
          01-init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: '15.5'
            envFrom:
              - secretRef:
                  name: *app
        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/home-assistant
              tag: 2023.11.3@sha256:a24bb33c22c67e1e89a0cace283af24315ccbedd859199b2048f2fc97bbd1139
            env:
              TZ: "${TZ}"
            envFrom:
              - secretRef:
                  name: *app
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
                resources:
                  requests:
                    cpu: 10m
                    memory: 128Mi
                  limits:
                    memory: 1Gi
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch


    service:
      main:
        ports:
          http:
            port: 8123

    ingress:
      main:
        enabled: true
        className: "internal"
        annotations:
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        hosts:
          - host: &host "hass.${EXTERNAL_DOMAIN}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - secretName: *host
            hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: home-assistant
