---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/external-secrets.io/clustersecretstore_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: &name frigate
  namespace: home-automation
spec:
  provider:
    doppler:
      project: *name
      config: prd
      auth:
        secretRef:
          dopplerToken:
            name: doppler-token-auth-api
            key: dopplerToken
            namespace: flux-system
---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name frigate
  namespace: home-automation
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: *name
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        FRIGATE_RTSP_USER: "{{ .RTSP_USER }}"
        FRIGATE_RTSP_PASSWORD: "{{ .RTSP_PASS }}"
  dataFrom:
    - find:
        name:
          regexp: .*
