---
services:
  garage:
    image: docker.io/dxflrs/garage:v2.2.0@sha256:45a61ce3f7c9c24fc23d9ed2b09b27ed560ab87b34605d175d5c588f539c24e4
    container_name: garage
    restart: unless-stopped
    networks:
      apps:
    expose:
      - ${S3_PORT}
      - ${API_PORT}
    volumes:
      - ./config/config.toml:/etc/garage.toml
      - ${DATA_PATH}:/data
    labels:
      traefik.enable: "true"
      # S3
      traefik.http.services.garage-s3.loadbalancer.server.port: ${S3_PORT}
      traefik.http.routers.garage-s3.entrypoints: https
      traefik.http.routers.garage-s3.rule: Host(`${S3_HOST}`) || HostRegexp(`^.+\.${S3_HOST}$`)
      traefik.http.routers.garage-s3.tls.certresolver: cf
      traefik.http.routers.garage-s3.tls.domains[0].main: ${S3_HOST}
      traefik.http.routers.garage-s3.tls.domains[0].sans: "*.${S3_HOST}"
      traefik.http.routers.garage-s3.service: garage-s3
      # API
      traefik.http.services.garage-api.loadbalancer.server.port: ${API_PORT}
      traefik.http.routers.garage-api.entrypoints: https
      traefik.http.routers.garage-api.rule: Host(`${API_HOST}`)
      traefik.http.routers.garage-api.tls: true
      traefik.http.routers.garage-api.service: garage-api
  garage-ui:
    image: khairul169/garage-webui:1.1.0@sha256:17c793551873155065bf9a022dabcde874de808a1f26e648d4b82e168806439c
    container_name: garage-ui
    restart: unless-stopped
    environment:
      API_BASE_URL: "http://garage:${API_PORT}"
      S3_ENDPOINT_URL: "http://garage:${S3_PORT}"
    networks:
      apps:
    expose:
      - ${UI_PORT}
    volumes:
      - ./config/config.toml:/etc/garage.toml
    labels:
      traefik.enable: "true"
      traefik.http.services.garage-ui.loadbalancer.server.port: ${UI_PORT}
      traefik.http.routers.garage-ui.entrypoints: https
      traefik.http.routers.garage-ui.rule: Host(`${UI_HOST}`)
      traefik.http.routers.garage-ui.tls: true
      traefik.http.routers.garage-ui.service: garage-ui

networks:
  apps:
    external: true
