---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app atuin
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          01-init-db:
            envFrom:
              - secretRef:
                  name: *app
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: '17.6.0'

        pod:
          enableServiceLinks: false

        containers:
          app:
            image:
              repository: ghcr.io/atuinsh/atuin
              tag: v18.8.0
            args:
              - server
              - start
            env:
              ATUIN_HOST: 0.0.0.0
              ATUIN_PORT: &port 8888
              ATUIN_OPEN_REGISTRATION: true
              RUST_LOG: info,atuin_server=debug
              ATUIN_TLS__ENABLE: false
              ATUIN_TLS__CERT_PATH: ""
              ATUIN_TLS__PKEY_PATH: ""
            envFrom:
              - secretRef:
                  name: *app
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.kokoro.wtf"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https

    persistence:
      config:
        type: emptyDir
