---
# yaml-language-server stuff goes here
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-vector
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: 'true'
spec:
  path: './kubernetes/apps/monitoring/vector/app/'
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  interval: 30m
  retryInterval: 1m
  timeout: 3m
