---
# yaml-language-server: $schema=https://k8s-schemas.kokoro.wtf/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: home-ops-runner
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: home-ops-runner-secret
    template:
      data:
        github_app_id: "{{ .app_id }}"
        github_app_installation_id: "{{ .installation_id }}"
        github_app_private_key: "{{ .private_key }}"
        github_webhook_secret_token: "{{ .token }}"
  dataFrom:
    - extract:
        key: actions-runner-controller
