---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app zwave-js-ui
  namespace: home-automation
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  dependsOn:
    - name: node-feature-discovery
      namespace: kube-system
  values:
    image:
      repository: ghcr.io/zwave-js/zwave-js-ui
      tag: 8.8.1
      # -- image pull policy
      pullPolicy: IfNotPresent

    envFrom:
      - secretRef:
          name: zwave-js-ui-secret

   # @default -- See below
    env:
      # -- Set the container timezone
      TZ: ${TZ}

    # -- Configures service settings for the chart.
    # @default -- See values.yaml
    service:
      main:
        ports:
          http:
            port: &port 8091
          websocket:
            enabled: true
            port: 3000

    serviceMonitor:
      main:
        enabled: true

    probes:
      liveness: &probes
        enabled: true
        custom: true
        spec:
          httpGet:
            path: /health
            port: *port
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
      readiness: *probes
      startup:
        enabled: false

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          cert-manager.io/cluster-issuer: ${CLUSTER_CERT}
          hajimari.io/enable: "false"
          hajimari.io/icon: "router-wireless-settings"
        hosts:
          - host: &host "zwave.${EXTERNAL_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: tls.zwave-js-ui

    securityContext:
      # -- (bool) Privileged securityContext may be required if USB devices are accessed directly through the host machine
      privileged: true

    persistence:
      config:
        enabled: true
        existingClaim: zwave-js-ui-config-v1
        mountPath: /usr/src/app/store

      backup:
        enabled: true
        type: nfs
        server: ${SAN_HOST}
        path: /tank/backup/kubernetes/apps/zwave
        mountPath: /usr/src/app/store/backups

      # -- Configure a hostPathMount to mount a USB device in the container.
      # @default -- See values.yaml
      usb:
        enabled: false
        type: hostPath
        hostPath: /dev/serial/by-id/usb-0658_0200-if00
        hostPathType: CharDevice

    resources:
      requests:
        cpu: 22m
        memory: 164M
      limits:
        memory: 262M

    # -- Affinity constraint rules to place the Pod on a specific node.
    # [[ref]](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity)
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: feature.node.kubernetes.io/custom-zwave
                  operator: In
                  values:
                    - "true"
