---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: metallb
  namespace: network
spec:
  interval: 5m
  chart:
    spec:
      chart: metallb
      version: 0.13.5
      sourceRef:
        kind: HelmRepository
        name: metallb-charts
        namespace: flux-system
      interval: 5m
  values:
    speaker:
      tolerateMaster: true

    crds:
      enabled: true

    prometheus:
      namespace: monitoring
      serviceAccount: prometheus-prometheus
      podMonitor:
        enabled: true
      prometheusRule:
        enabled: true
