---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: tf-controller
  namespace: flux-system
spec:
  interval: 2h
  url: https://flux-iac.github.io/tofu-controller/
  timeout: 3m
