---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app externaldns-shared
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: 'true'
spec:
  targetNamespace: network
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: './kubernetes/dns/apps/network/external-dns/shared/'
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  interval: 30m
  timeout: 5m
# ---
# # yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: &app externaldns-external
#   namespace: flux-system
#   labels:
#     substitution.flux.home.arpa/enabled: 'true'
# spec:
#   targetNamespace: network
#   commonMetadata:
#     labels:
#       app.kubernetes.io/name: *app
#   path: './kubernetes/dns/apps/network/external-dns/external/'
#   prune: true
#   sourceRef:
#     kind: GitRepository
#     name: k8s-home-ops
#   interval: 30m
#   timeout: 5m
#   dependsOn:
#     - name: external-secrets-stores
#     - name: externaldns-shared
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app externaldns-internal
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: 'true'
spec:
  targetNamespace: network
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: './kubernetes/dns/apps/network/external-dns/internal/'
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  interval: 30m
  timeout: 5m
  dependsOn:
    - name: external-secrets-stores
    - name: externaldns-shared
