kokoro-Anya.yaml
kokoro-Rem.yaml
kokoro-Ram.yaml
kokoro-Sakura.yaml
kokoro-Uiharu.yaml
talosconfig
kokoro-uiharu.ctec.run.yaml
kokoro-anya.ctec.run.yaml
kokoro-sakura.ctec.run.yaml
kokoro-rem.ctec.run.yaml
kokoro-ram.ctec.run.yaml
kokoro-megumin.ctec.run.yaml
kokoro-akane.ctec.run.yaml
kokoro-miri.ctec.run.yaml
