---
apiVersion: v1
kind: Namespace
metadata:
  name: not-used
  labels:
    kustomize.toolkit.fluxcd.io/prune: disabled
    volsync.backube/privileged-movers: "true"
    resource.kubernetes.io/admin-access: "true"
