---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name readarr
  namespace: downloads
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Readarr
        READARR__AUTH__APIKEY: "{{ .api_key }}"
        READARR__POSTGRES__USER: &dbuser "{{ .pg_user }}"
        READARR__POSTGRES__PASSWORD: &dbpass "{{ .pg_pass }}"
        READARR__POSTGRES__HOST: &dbhost "{{ .postgres_host }}"
        READARR__POSTGRES__PORT: "5432"
        READARR__POSTGRES__MAINDB: readarr
        READARR__POSTGRES__CACHEDB: readarr-cache
        READARR__POSTGRES__LOGDB: readarr-log
        # Postgres Init
        INIT_POSTGRES_DBNAME: "readarr readarr-cache readarr-log"
        INIT_POSTGRES_HOST: *dbhost
        INIT_POSTGRES_SUPER_PASS: "{{ .postgres_super_pass }}"
        INIT_POSTGRES_USER: *dbuser
        INIT_POSTGRES_PASS: *dbpass
  dataFrom:
    - extract:
        key: postgres
      rewrite:
        - regexp:
            source: "(.*)"
            target: "postgres_$1"
    - extract:
        key: readarr
