---
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m

endpoints:
  - name: Cloudflare
    group: connectivity
    url: icmp://1.1.1.1
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: Google
    group: connectivity
    url: icmp://8.8.8.8
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: Quad9
    group: connectivity
    url: icmp://9.9.9.9
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

metrics: true

storage:
  type: postgres
  path: postgres://${INIT_POSTGRES_USER}:${INIT_POSTGRES_PASS}@${INIT_POSTGRES_HOST}:5432/${INIT_POSTGRES_DBNAME}?sslmode=disable
  caching: true

ui:
  title: Status | Gatus
  header: Status
  logo: https://avatars.githubusercontent.com/u/213795
  link: https://github.com/onedr0p
  buttons:
    - name: Github
      link: https://github.com/onedr0p
    - name: Homelab
      link: https://github.com/onedr0p/home-ops

web:
  port: ${GATUS_WEB_PORT}

alerting:
  discord:
    webhook-url: ${DISCORD_WEBHOOK}
    default-alert:
      description: health-check failed
      failure-threshold: 3
      minimum-reminder-interval: 1h
      send-on-resolved: true
      success-threshold: 2
