---
# yaml-language-server: $schema=https://k8s-schemas.kokoro.wtf/cert-manager.io/clusterissuer_v1.json
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: postmaster@kokoro.wtf
    preferredChain: ""
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
      - selector:
          dnsZones:
            - ${EXTERNAL_DOMAIN}
        dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cert-manager
              key: api-token
