---
apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets
---
apiVersion: v1
kind: Namespace
metadata:
  name: system
---
apiVersion: v1
kind: Namespace
metadata:
  name: system-controllers
---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: external-secrets
stringData:
  1password-credentials.json: {{ ENV.ONEPASSWORD_CREDENTIALS }}
  token: {{ ENV.ONEPASSWORD_CONNECT_TOKEN }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: flux-system
---
apiVersion: v1
kind: Secret
metadata:
    name: cluster-secrets
    namespace: flux-system
stringData:
    CLUSTER_SECRET_CLOUDFLARE_ACCOUNT_ID: {{ ENV.CLOUDFLARE_ACCOUNT_ID }}
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: flux-system
stringData:
  age.agekey: |
    {{ ENV.FLUX_SOPS_PRIVATE_KEY | indent(4) }}
