---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: plex
  namespace: media
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: plex-secret
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: plex
