---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app komga
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.2.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5

  values:

    image:
      repository: ghcr.io/cbc02009/komga
      tag: v0.157.4@sha256:b16398cfdb2417c8a1e9003b5d7880da0311773f89de546dce4d47e61fd57a08

    env:
      KOMGA_CONFIGDIR: "/config"
      SERVER_PORT: &port 8443

    service:
      main:
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          cert-manager.io/cluster-issuer: ${CLUSTER_CERT}
          hajimari.io/enable: "true"
          hajimari.io/icon: "television-box"
          hajimari.io/appName: komga
        hosts:
          - host: &host "{{ .Release.Name }}.${EXTERNAL_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: komga-config-v1

      media:
        enabled: true
        type: nfs
        server: "${SAN_HOST}"
        path: /tank/media/manga
        mountPath: /media
