---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: postgres-backup
  namespace: databases
spec:
  schedule: "0 17 * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          automountServiceAccountToken: false
          enableServiceLinks: false
          securityContext:
            runAsUser: 1031
            runAsGroup: 1031
            fsGroup: 1031
            supplementalGroups:
              - 65541

          containers:
            - name: postgres-backup
              image: docker.io/prodrigestivill/postgres-backup-local:15@sha256:93f597a7ad95d5a9d988e57c32442e6f78d6e88d809ca96bb0a3270e45c85650
              imagePullPolicy: IfNotPresent
              command:
                - "/backup.sh"

              envFrom:
                - secretRef:
                    name: postgres-backup

              env:
                - name: POSTGRES_HOST
                  value: ${POSTGRES_HOST}
                - name: POSTGRES_DB
                  value: "authelia, gitea, grafana, home_assistant, postgres, prowlarr_main, radarr_main, vaultwarden, babybuddy"
              volumeMounts:
                - name: nas-backups
                  mountPath: /backups

          restartPolicy: OnFailure

          volumes:
            - name: nas-backups
              nfs:
                server: "${SAN_HOST}"
                path: /tank/backup/kubernetes/apps/postgres
