---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: postgres-backup
  namespace: databases
spec:
  schedule: "0 17 * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          automountServiceAccountToken: false
          enableServiceLinks: false
          # securityContext:
          #   # runAsUser: 1031
          #   # runAsGroup: 1010
          #   # fsGroup: 1031
          #   # supplementalGroups:
          #   #   - 65541

          containers:
            - name: postgres-backup
              image: docker.io/prodrigestivill/postgres-backup-local:15@sha256:9a08323f39ff6cf0244b1462686d56a0911f8e41a23febf07b59840eacee9361
              imagePullPolicy: IfNotPresent
              command:
                - "/backup.sh"

              env:
                - name: POSTGRES_HOST
                  value: ${POSTGRES_HOST}
                - name: POSTGRES_DB
                  value: "authelia, gitea, grafana, home_assistant, postgres, prowlarr_main, radarr_main, vaultwarden, babybuddy"
                - name: POSTGRES_USER
                  valueFrom:
                    secretKeyRef:
                      name: postgres
                      key: username
                - name: POSTGRES_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: postgres
                      key: password
              volumeMounts:
                - name: nas-backups
                  mountPath: /backups

          restartPolicy: OnFailure

          volumes:
            - name: nas-backups
              nfs:
                server: "${SAN_HOST}"
                path: /tank/backup/kubernetes/apps/postgres
