---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app overseerr
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: 'true'
spec:
  path: './kubernetes/main/apps/organizarrs/overseerr/app/'
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  interval: 30m
  retryInterval: 1m
  timeout: 3m
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: overseerr
      namespace: organizarrs
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 5Gi
