---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name loki
  namespace: monitoring
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: loki-secret
    creationPolicy: Owner
  dataFrom:
    - extract:
        # AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY
        key: *name
