---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: system
components:
  - ../../components/common
resources:
  - ./namespace.yaml
  - ./fstrim/ks.yaml
  - ./generic-device-plugin/ks.yaml
  - ./keda/ks.yaml
  - ./kopia/ks.yaml
  - ./node-feature-discovery/ks.yaml
  # - ./nvidia-device-plugin/ks.yaml
  - ./reloader/ks.yaml
  - ./spegel/ks.yaml
  - ./volsync/ks.yaml
