---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: &clusterName home-ops

# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.12.2
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.35.0

endpoint: https://10.0.2.9:6443

allowSchedulingOnMasters: true

additionalApiServerCertSans: &san
  - 127.0.0.1
  - 10.6.0.5
  - 10.0.2.9
  - k8s.ctec.internal

additionalMachineCertSans: *san

clusterPodNets:
  - 10.11.0.0/16
clusterSvcNets:
  - 10.10.0.0/16
cniConfig:
  name: none

nodes:

  - hostname: uiharu
    nodeLabels: &nodeLabels
      openebs.io/engine: mayastor
      node.kubernetes.io/gpu: "true"
    ipAddress: 10.0.2.10
    installDiskSelector:
      model: Samsung SSD 870
    controlPlane: true
    networkInterfaces: &networkInterfaces
      - interface: bond0
        bond:
          interfaces:
            - net0
          mode: active-backup
        dhcp: true
        mtu: 9000
        vip:
          ip: 10.0.2.9
        vlans:
          - # VPN
            vlanId: 50
            dhcp: false
            mtu: 1500
    volumes: &volumes
      - name: EPHEMERAL
        provisioning:
          diskSelector:
            match: system_disk
          maxSize: 128GiB
    userVolumes: &userVolumes
      - name: local-hostpath
        provisioning:
          diskSelector:
            match: system_disk
          maxSize: 256GiB
    # extensionServices: &nut-service
    #   - name: nut-client
    #     configFiles:
    #       - content: |-
    #           MONITOR nut.cutil.dev 1 observer whatever secondary
    #           SHUTDOWNCMD "/sbin/poweroff"
    #         mountPath: /usr/local/etc/nut/upsmon.conf

  - hostname: miri
    nodeLabels: *nodeLabels
    ipAddress: 10.0.2.11
    installDiskSelector:
      model: Samsung SSD 870
    controlPlane: true
    networkInterfaces: *networkInterfaces
    volumes: *volumes
    userVolumes: *userVolumes
    # extensionServices: *nut-service

  - hostname: sakura
    nodeLabels: *nodeLabels
    ipAddress: 10.0.2.12
    installDiskSelector:
      model: Samsung SSD 850
    controlPlane: true
    networkInterfaces: *networkInterfaces
    volumes: *volumes
    userVolumes: *userVolumes
    # extensionServices: *nut-service

patches:
  - ./patches/global/machine-features.yaml
  - ./patches/global/machine-files.yaml
  - ./patches/global/machine-kubelet.yaml
  - ./patches/global/machine-network.yaml
  - ./patches/global/machine-sysctls.yaml
  - ./patches/global/machine-time.yaml
  - ./patches/global/machine-udev.yaml

controlPlane:
  schematic:
    customization:
      extraKernelArgs:
        - -init_on_alloc # Less security, faster puter
        - -init_on_free # Less security, faster puter
        - -selinux # Less security, faster puter
        - apparmor=0 # Less security, faster puter
        - init_on_alloc=0 # Less security, faster puter
        - init_on_free=0 # Less security, faster puter
        - intel_iommu=on # PCI Passthrough
        - iommu=pt # PCI Passthrough
        - mitigations=off # Less security, faster puter
        - security=none # Less security, faster puter
        - talos.auditd.disabled=1 # Less security, faster puter
      systemExtensions:
        officialExtensions:
          - siderolabs/i915 # Intel iGPU
          - siderolabs/intel-ucode # Intel iGPU
  patches:
    - ./patches/controller/cluster.yaml
    - ./patches/controller/link-alias.yaml
    - ./patches/controller/misc.yaml
