---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: thanos
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: thanos
      version: 12.2.0
      sourceRef:
        kind: HelmRepository
        name: bitnami-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  dependsOn:
    - name: kube-prometheus-stack
      namespace: monitoring
  values:
    existingObjstoreSecret: &secret thanos-objstore-secret
    query:
      enabled: true
      replicaLabels:
        - replica

      dnsDiscovery:
        sidecarsService: prometheus-thanos-discovery
        sidecarsNamespace: monitoring

      resources:
        requests:
          cpu: 15m
          memory: 204M
        limits:
          memory: 247M

      ingress:
        enabled: true
        hostname: "thanos-cluster.${EXTERNAL_DOMAIN}"
        ingressClassName: "nginx"
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: "archive-clock"
        tls: true

    queryFrontend:
      enabled: false

    bucketweb:
      enabled: true
      podAnnotations:
        secret.reloader.stakater.com/reload: *secret
      resources:
        requests:
          cpu: 15m
          memory: 64M
        limits:
          memory: 83M

    compactor:
      enabled: true
      persistence:
        enabled: false
      podAnnotations:
        secret.reloader.stakater.com/reload: *secret
      resources:
        requests:
          cpu: 15m
          memory: 183M
        limits:
          memory: 11G

    storegateway:
      enabled: true
      persistence:
        enabled: true
        size: 5Gi
      podAnnotations:
        configmap.reloader.stakater.com/reload: *secret
      resources:
        requests:
          cpu: 15m
          memory: 183M
        limits:
          memory: 11G

    ruler:
      enabled: false

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
