---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app home-assistant
  namespace: home-automation
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 0.2.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  dependsOn:
    - name: postgres
      namespace: databases
    - name: zwavejs2mqtt
      namespace: home-automation
  #   - name: emqx
  #     namespace: home-automation
  values:
    image:
      repository: ghcr.io/onedr0p/home-assistant
      tag: 2022.10.2@sha256:9d881745502d2a48d4d140bd39ba4cb0aafd05af25e591599379e5949ed556c3

    env:
      TZ: "${TZ}"

    envFrom:
      - secretRef:
          name: *app

    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${LB_HASS}
        ports:
          http:
            port: 8123

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          external-dns.home.arpa/enabled: "true"
        hosts:
          - host: &host "hass.${EXTERNAL_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    addons:
      codeserver:
        enabled: true
        image:
          repository: ghcr.io/coder/code-server
          tag: 4.7.1
        env:
          TZ: "${TZ}"
        workingDir: "/config"
        args:
          - --auth
          - "none"
          - --user-data-dir
          - "/config/.vscode"
          - --extensions-dir
          - "/config/.vscode"
        ingress:
          enabled: true
          ingressClassName: "nginx"
          hosts:
            - host: &host "hass-code.${EXTERNAL_DOMAIN}"
              paths:
                - path: /
                  pathType: Prefix
          tls:
            - hosts:
                - *host

        volumeMounts:
          - name: config
            mountPath: /config

        podSecurityContext:
          runAsUser: 568
          runAsGroup: 568
          fsGroup: 568
          fsGroupChangePolicy: "OnRootMismatch"
          supplementalGroups:
            - 100

    initContainers:
      wait-for-pg:
        image: busybox:latest
        imagePullPolicy: IfNotPresent
        command:
          [
            "sh",
            "-c",
            'until nc -vz postgres-any.databases 5432; do echo "Waiting for cloudnative-pg..."; sleep 3; done;',
          ]

    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 100

    persistence:
      config:
        enabled: true
        existingClaim: home-assistant-config-v1

      backup:
        enabled: true
        type: nfs
        server: ${SAN_HOST}
        path: /tank/backup/kubernetes/apps/hass
        mountPath: /config/backups

    probes:
      liveness:
        enabled: false
      readiness:
        enabled: false
      startup:
        enabled: false

    resources:
      requests:
        cpu: 48m
        memory: 443M
      limits:
        memory: 709M
