---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - config-pvc.yaml
  - helmrelease.yaml
  - secret.sops.yaml
patchesStrategicMerge:
  - patches/postgres.yaml
  - patches/addons.yaml
