---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kyverno
  namespace: kyverno
spec:
  interval: 5m
  chart:
    spec:
      chart: kyverno
      version: 3.3.5
      sourceRef:
        kind: HelmRepository
        name: kyverno
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation: # perform remediation when helm install fails
      retries: 5
  upgrade:
    remediation: # perform remediation when helm upgrade fails
      retries: 5
      remediateLastFailure: true # remediate the last failure, when no retries remain
    cleanupOnFail: true
  values:

    crds:
      install: true

    grafana:
      enabled: true
      annotations:
        grafana_folder: System

    backgroundController:
      serviceMonitor:
        enabled: true
      rbac:
        clusterRole:
          extraResources:
            - apiGroups:
                - ""
              resources:
                - ingresses
                - pods
              verbs:
                - create
                - update
                - patch
                - delete
                - get
                - list
      resources:
        # -- Pod resource limits
        limits:
          memory: 512Mi
        # -- Pod resource requests
        requests:
          cpu: 100m
          memory: 64Mi

    cleanupController:
      serviceMonitor:
        enabled: true

    reportsController:
      serviceMonitor:
        enabled: true

    admissionController:
      replicas: 3
      serviceMonitor:
        enabled: true
      rbac:
        clusterRole:
          extraResources:
            - apiGroups:
                - ""
              resources:
                - ingresses
                - pods
              verbs:
                - create
                - update
                - delete
      resources:
        # -- Pod resource limits
        limits:
          memory: 1024Mi
        # -- Pod resource requests
        requests:
          cpu: 500m
          memory: 512Mi
