---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: &app test-pod
  namespace: self-hosted
  labels:
    app.kubernetes.io/name: *app
    app.kubernetes.io/instance: *app
spec:
  accessModes:
    - ReadWriteOnce

  resources:
    requests:
      storage: 20Gi

  storageClassName: ceph-block
