---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.0.1/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vscode
  namespace: dev
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      vscode:
        type: statefulset

        containers:
          main:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.96.4
            env:
              TZ: ${TZ}
            args:
              - --auth
              - "none"
              - --user-data-dir
              - "/config/.vscode"
              - --extensions-dir
              - "/config/.vscode"
              - "--port"
              - "80"
              - /config
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch

    service:
      main:
        controller: *app
        ports:
          http:
            port: 80
      ssh:
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${LB_VSCODE}
        controller: *app
        ports:
          ssh:
            enabled: true
            port: 2222
            protocol: TCP
            targetPort: 2222
    ingress:
      main:
        className: internal
        hosts:
          - host: &host code.${EXTERNAL_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: main
                  port: http
        tls:
          - hosts: [*host]

    persistence:
      config:
        enabled: true
        existingClaim: *app
