---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: vector-agent
  namespace: monitoring
spec:
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  install:
    createNamespace: true
    remediation: # perform remediation when helm install fails
      retries: 3
  upgrade:
    remediation: # perform remediation when helm upgrade fails
      retries: 3
      remediateLastFailure: true # remediate the last failure, when no retries remain
    cleanupOnFail: true
  values:
    controllers:
      main:
        type: daemonset
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: 'true'

        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/vector
              tag: 0.33.0-debian

            env:
              PROCFS_ROOT: /host/proc
              SYSFS_ROOT: /host/sys
              VECTOR_SELF_NODE_NAME:
                valueFrom:
                  fieldRef:
                    apiVersion: v1
                    fieldPath: spec.nodeName
              VECTOR_SELF_POD_NAME:
                valueFrom:
                  fieldRef:
                    apiVersion: v1
                    fieldPath: metadata.name
              VECTOR_SELF_POD_NAMESPACE:
                valueFrom:
                  fieldRef:
                    apiVersion: v1
                    fieldPath: metadata.namespace

            resources:
              requests:
                cpu: 23m
                memory: 249M
              # limits:
              #   memory: 918M

            securityContext:
              privileged: true

            args: [--config, /etc/vector/vector.yaml]
    service:
      main:
        enabled: false

    persistence:
      config:
        enabled: true
        type: configMap
        name: vector-agent-configmap
        readOnly: true
        globalMounts:
          - path: /etc/vector/vector.yaml
            subPath: vector.yaml
      data:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /vector-data-dir
      var-log:
        enabled: true
        type: hostPath
        hostPath: /var/log
        hostPathType: Directory
        readOnly: true
        globalMounts:
          - path: /var/log
      var-lib:
        enabled: true
        type: hostPath
        hostPath: /var/lib
        hostPathType: Directory
        readOnly: true
        globalMounts:
          - path: /var/lib
      procfs:
        enabled: true
        type: hostPath
        hostPath: /proc
        hostPathType: Directory
        readOnly: true
        globalMounts:
          - path: /host/proc
      sysfs:
        enabled: true
        type: hostPath
        hostPath: /sys
        hostPathType: Directory
        readOnly: true

        globalMounts:
          - path: /host/sys
    podMonitor:
      enabled: true

    serviceAccount:
      create: true
      name: vector-agent

    tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
