---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: "enabled"
spec:
  affinity:
    enablePodAntiAffinity: true
    topologyKey: kubernetes.io/hostname
    podAntiAffinityType: required
  enableSuperuserAccess: true
  instances: 3
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:16-0.5.3
  monitoring:
    enablePodMonitor: true
  plugins:
    - enabled: true
      isWALArchiver: true
      name: barman-cloud.cloudnative-pg.io
      parameters: &barmanParameters
        barmanObjectName: garage
        serverName: postgres
  postgresql:
    shared_preload_libraries: ["vchord.so"]
    parameters:
      autovacuum_vacuum_scale_factor: "0.1"
      autovacuum_analyze_scale_factor: "0.05"
      autovacuum_vacuum_cost_limit: "1000"
      effective_io_concurrency: "200"
      random_page_cost: "1.2"
      shared_buffers: 256MB
      max_connections: "300"
      work_mem: 16MB
  primaryUpdateStrategy: unsupervised
  primaryUpdateMethod: switchover
  resources:
    requests:
      cpu: 200m
      memory: 1Gi
    limits:
      memory: 2Gi
  storage:
    size: 20Gi
    storageClass: openebs-hostpath
  superuserSecret:
    name: cloudnative-pg
  bootstrap:
    recovery:
      source: source
  externalClusters:
    - name: source
      plugin:
        enabled: true
        isWALArchiver: true
        name: barman-cloud.cloudnative-pg.io
        parameters: *barmanParameters

  # bootstrap:
  #   recovery:
  #     source: source
  # externalClusters:
  #   - name: source
  #     plugin:
  #       enabled: true
  #       isWALArchiver: true
  #       name: barman-cloud.cloudnative-pg.io
  #       parameters: *barmanParameters
  # Note: externalClusters is needed when recovering from an existing cnpg cluster
  # externalClusters:
  #   - name: *previousCluster
  #     barmanObjectStore:
  #       wal:
  #         compression: bzip2
  #         maxParallel: 8
  #       destinationPath: s3://cnpg/
  #       endpointURL: https://${CLUSTER_SECRET_CLOUDFLARE_ACCOUNT_ID}.r2.cloudflarestorage.com
  #       s3Credentials:
  #         accessKeyId:
  #           name: cloudnative-pg
  #           key: aws-access-key-id
  #         secretAccessKey:
  #           name: cloudnative-pg
  #           key: aws-secret-access-key
