---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: external-dns
  namespace: network
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: external-dns-secret
    creationPolicy: Owner
  data:
    - secretKey: email
      remoteRef:
        key: cloudflare
        property: CLOUDFLARE_EMAIL
    - secretKey: api-key
      remoteRef:
        key: cloudflare
        property: CLOUDFLARE_APIKEY
