main-uiharu.ctec.run.yaml
main-miri.ctec.run.yaml
main-sakura.ctec.run.yaml
main-ponyo.ctec.run.yaml
talosconfig
main-uiharu.ctec.internal.yaml
main-miri.ctec.internal.yaml
main-sakura.ctec.internal.yaml
nas-jade.ctec.internal.yaml
