---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: home-automation-home-assistant
  namespace: flux-system
spec:
  interval: 5m
  path: "./cluster/manifests/home-automation/home-assistant"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: home-automation-zwave-js-ui
  namespace: flux-system
spec:
  interval: 5m
  path: "./cluster/manifests/home-automation/zwave-js-ui"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: home-automation-emqx
  namespace: flux-system
spec:
  interval: 5m
  path: "./cluster/manifests/home-automation/emqx"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
# kind: Kustomization
# metadata:
#   name: home-automation-frigate
#   namespace: flux-system
# spec:
#   interval: 5m
#   path: "./cluster/manifests/home-automation/frigate"
#   prune: true
#   wait: true
#   sourceRef:
#     kind: GitRepository
#     name: k8s-home-ops
