---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: security-glauth
  namespace: flux-system
spec:
  interval: 5m
  path: "./cluster/manifests/security/glauth"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: security-vaultwarden
  namespace: flux-system
spec:
  dependsOn:
    - name: databases-cloudnative-pg
  interval: 5m
  path: "./cluster/manifests/security/vaultwarden"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: security-authelia
  namespace: flux-system
spec:
  interval: 5m
  path: "./cluster/manifests/security/authelia"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
