---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: services-hajimari
  namespace: flux-system
spec:
  interval: 5m
  path: "./cluster/manifests/services/hajimari"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: services-gitea
  namespace: flux-system
spec:
  dependsOn:
    - name: databases-cloudnative-pg
  interval: 5m
  path: "./cluster/manifests/services/gitea"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: services-theme-park
  namespace: flux-system
spec:
  interval: 5m
  path: "./cluster/manifests/services/theme-park"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: services-language-tools
  namespace: flux-system
spec:
  interval: 5m
  path: "./cluster/manifests/services/language-tools"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
# kind: Kustomization
# metadata:
#   name: services-babybuddy
#   namespace: flux-system
# spec:
#   interval: 10m
#   path: "./cluster/manifests/services/babybuddy"
#   prune: true
#   wait: true
#   sourceRef:
#     kind: GitRepository
#     name: k8s-home-ops
