---
# yaml-language-server: $schema=https://kubernetes-schemas.kokoro.wtf/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app weave-gitops
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: weave-gitops
      version: 4.0.35
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: weave-gitops
  values:
    adminUser:
      create: true
      username: &admin_user admin

    ingress:
      enabled: true
      className: internal
      hosts:
        - host: &host gitops.${EXTERNAL_DOMAIN}
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: *host
          hosts:
            - *host

    networkPolicy:
      create: false

    metrics:
      enabled: true

    rbac:
      create: true
      impersonationResourceNames:
        - *admin_user
      additionalRules:
        - apiGroups:
            - "infra.contrib.fluxcd.io"
          resources:
            - "terraforms"
          verbs:
            - "get"
            - "list"
            - "patch"

    podAnnotations:
      secret.reloader.stakater.com/reload: *app

  valuesFrom:
    - kind: Secret
      name: *app
      valuesKey: adminPassword
      targetPath: adminUser.passwordHash
